<%- include("partials/header") %>

<div class = "landing" class = "container">
	<h1 class = "landing">
	Landing Page
	</h1>
	
	<p>
	Welcome to YelpCamp
	</p>

	<a href ="/campgrounds">This is the Campgrounds Page!</a>

</div>




<%- include("partials/footer") %>